/* BID and ASK Data table style Start */
.bidAndask-table-parent {
  height: fit-content;
}
.bidAndask-data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.bidAndask-table-parent .bidAndask-thead th {
  background-color: var(--timeAndsales-thead-bg);
  position: sticky;
  top: 0;
}
.bid-sl-name {
  font-size: 10px;
  white-space: nowrap;
  padding:6px;
  width: 20px;
}
.bid-sl-value {
  font-size: 14px;
  white-space: nowrap;
  padding:6px;
  width: 20px;
}
.ask-sl-name {
  font-size: 10px;
  white-space: nowrap;
  text-align: right;
  padding:6px;
  width: 20px;
}
.ask-sl-value {
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
  padding:6px;
  width: 20px;
}

.bid-column-name {
  font-size: 10px;
  white-space: nowrap;
  padding:6px;
  text-align: right;
}
.bid-column-value {
  font-size: 14px;
  white-space: nowrap;
  padding:6px;
  text-align: right;
  color: var(--up-color);
}
.bidQ-column-name {
  font-size: 10px;
  white-space: nowrap;
  text-align: left;
  padding:6px;
}
.bidQ-column-value {
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  padding:6px;
  color: var(--up-color);
}
.ask-column-name {
  font-size: 10px;
  white-space: nowrap;
  text-align: left;
  padding:6px;
}
.ask-column-value {
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  padding:6px;
  color: var(--down-color);
}
.askQ-column-name {
  font-size: 10px;
  white-space: nowrap;
  text-align: right;
  padding:6px;
}
.askQ-column-value {
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
  padding:6px;
  color: var(--down-color);
}

.bidAndask-middle-column-name {
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  background: var(--bidAndask-middle-column-bg) !important;
}
.bidAndask-middle-column-value {
  white-space: nowrap;
  text-align: center;
  background: var(--bidAndask-middle-column-bg);
  padding-top: 0px !important;
  padding-left: 3px;
}

.bidAndask-tbody tr:nth-child(even) {
  background-color: var(--bidAndask-tr-bg);
}

/* #bidAndask-data-table tr:not(:first-child) {
  display: none;
} */

.trade-bidAndask-row {
  display: none;
}
.trade-icon-up-down {
  border: 1px solid #45b6fe;
  padding: 4px 14px;
  border-radius: 10px;
  background-color: #1f92ff;
}

/* Market depth chart */
.mobile-trade-market-depth-section {
  display: flex;
  justify-content: space-between;
}

.mobile-trade-bidPerQ {
  font-size: 12px;
  font-weight: 700;
  color: var(--green-color-bg);
}

.mobile-trade-askPerQ {
  font-size: 12px;
  font-weight: 700;
  color: var(--red-color-bg);
}
 
.form-control::placeholder {
  color: var(--font-color) !important;
}

.form-controls::placeholder {
  font-size: 0.8rem!important;
}

#order-window .form-control {
  background: var(--select-trade-bg);
  border: 1px solid var(--mkt-depth-bg);
  color: var(--font-color);
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
}

.form-bg {
  background-color: transparent !important;
  border: none !important;
  width: 89px !important;
}

.first-chlid {
  background-color: var(--select-trade-bg);
  border: 1px solid var(--mkt-depth-bg);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
}

.form-controls
{
    background-color: transparent;
    border: none;
    width: 70px;
    outline-style: none;
    text-align: center;
}

input{
  line-height: 1.3;
}

.mobile-order-value {
  background-color: var(--page-color);
  border: 1px solid var(--mkt-depth-bg);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  height: 36px;
  padding-top:0.5rem;
}

#order-window .searchbox {
  height: 25px;
  background: var(--select-trade-bg);
  border-radius: 8px;
  outline-style: none;
}
.mobile-order-yield {
  background-color: var(--select-trade-bg);
  border: 1px solid var(--mkt-depth-bg);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  height: 36px;
  padding-top:0.5rem;
}

.modify-blur {
  /* background-color: var(--timeAndsales-thead-bg);
  border: 1px solid var(--mkt-depth-bg);
  color: var(--font-muted)!important; */
  background: var(--select-trade-bg);
  border-radius: 8px;
  outline-style: none;
  color: var(--font-muted);
}

.order_high, .order_up{
  color: var(--up-color);
}

.order_low, .order_down{
  color: var(--down-color);
}